name: Pytest
on:
  schedule:
    - cron: '30 10 * * *'
  push:
    branches: [ main ]
  pull_request:
    branches:
      - '**'
jobs:
  pytest:
    name: Running pytest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Set up redis
        uses: supercharge/redis-github-action@1.5.0
        with:
          redis-version: 6.2
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[dev]"
      - name: Run pytest
        run: |
          pytest --cov=src --cov-report=term --cov-report=term-missing
      - name: Pytest coverage comment
        uses: MishaKav/pytest-coverage-comment@main
        if: ${{ always() && github.ref != 'refs/heads/master' }}
        with:
          create-new-comment: true
          pytest-coverage-path: ./pytest_coverage.txt
          junitxml-path: ./test_reports/report.xml
